<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rwill128.algorithm-visualization.youtube-upload</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/richardwilliams/Documents/Algorithm Visualizations/scripts/run_youtube_upload_queue.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>9</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>14</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>19</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/richardwilliams/Documents/Algorithm Visualizations</string>
  <key>StandardOutPath</key>
  <string>/Users/richardwilliams/Documents/Algorithm Visualizations/logs/youtube-upload-launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/richardwilliams/Documents/Algorithm Visualizations/logs/youtube-upload-launchd.err.log</string>
</dict>
</plist>
